@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 31, 41, 55;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  background: linear-gradient(
    rgb(var(--background-end-rgb)) 0%,
    rgb(var(--background-start-rgb)) 50%,
    rgb(var(--background-end-rgb))
  );
}

#pentagon {
  position: relative;
  width: 145px;
  height: 140px;
  background: rgb(190, 18, 60);
  clip-path: polygon(50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
}

@layer base {
  main {
    @apply w-full h-screen;
  }
  .responsive {
    @apply max-w-screen-md;
    @apply xl:max-w-screen-xl;
  }
}
